n8n-workflows/viral-video-workflow-fixed.json
{
  "name": "Simple Viral Video Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-test",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-pro"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"You are a viral video title generator. Create engaging, clickbait titles that will make videos go viral on Instagram. Keep titles under 60 characters.\"},{\"role\":\"user\",\"content\":\"Generate 5 viral Instagram video titles for a video about: {{ $json.videoDescription }}. Category: {{ $json.videoCategory }}. Make them engaging and trending.\"}]"
            }
          ]
        }
      },
      "id": "ai-title-generation",
      "name": "AI Title Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"AI titles generated successfully\",\n  \"titles\": \"{{ $json.choices[0].message.content }}\",\n  \"input\": \"{{ $('Webhook Trigger').item.json }}\"\n}"
      },
      "id": "response-node",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "AI Title Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Title Generation": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "simple-viral-workflow",
  "tags": []
}